<% include ./partials/header %>
<h1>Select Files</h1>
<form action="/products" method="POST" enctype="multipart/form-data">
    <input type="file" id="image1" name="image" accept="image/*" required>
    <input type="file" id="image2" name="image" accept="image/*" required>
    <input type="submit" value="Upload all">
</form>
<% include ./partials/footer %>